$Global-Bg-Color: #FFFFFF !important;
$Global-Padding: 0 20px !important;

// 侧边栏
.ant-menu {
  border-right: 0px !important;
}

// 侧边栏子菜单
.ant-menu-item {
  height: 45px !important;
  line-height: 45px !important;
}

.ant-layout-header {
  background: $Global-Bg-Color;
  padding: $Global-Padding;
}

// 骨架屏
.ant-skeleton {
  padding: 20px;
  height: calc(20vh);
}
